{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/core.async {:mvn/version "1.9.865"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                      org.clojure/test.check {:mvn/version "1.1.1"}}
         :exec-fn kaocha.runner/exec-fn
         :exec-args {:kaocha/tests [{:kaocha.testable/type :kaocha.type/clojure.test
                                     :kaocha.testable/id :unit
                                     :kaocha/source-paths ["src"]
                                     :kaocha/test-paths ["test"]
                                     :kaocha/ns-patterns [".*-test$"]}]
                     :kaocha/reporter [kaocha.report/dots]
                     :kaocha/color? true}}
  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.3.0"}}
          :main-opts ["-m" "nrepl.cmdline"]}
  :bench {:extra-paths ["bench"]
          :extra-deps {criterium/criterium {:mvn/version "0.4.6"}}}
  :bench-run {:extra-paths ["bench"]
              :extra-deps {criterium/criterium {:mvn/version "0.4.6"}}
              :main-opts ["-m" "s-exp.k7-bench"]}}}
